.root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

/* Modal */
.dialog {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-width: 100vh;
  height: inherit;
  min-height: 100vh;
  padding: 0;
  border: 0;
  -webkit-backdrop-filter: var(--modal-overlay-backdrop-filter);
  backdrop-filter: var(--modal-overlay-backdrop-filter);
  background-color: var(--modal-overlay-background-color);
  color: var(--text-color);
}
.dialog article {
  width: 60vw;
  max-height: calc(100vh - var(--spacing) * 2);
  margin: var(--spacing);
  overflow: auto;
}
.article {
  margin-bottom: var(--spacing);
  padding: var(--spacing) var(--spacing);
  border-radius: var(--border-radius);
  background: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
}
.article > header,
.article > footer {
  margin-right: calc(var(--spacing) * -1);
  margin-left: calc(var(--spacing) * -1);
  padding: calc(var(--spacing) * 0.66) var(--spacing);
  background-color: var(--background-color);
}
.article > header {
  margin-top: calc(var(--spacing) * -1);
  margin-bottom: var(--spacing);
  border-bottom: var(--border-width) solid var(--card-border-color);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  min-height: 5rem;
}
.article > footer {
  margin-top: var(--spacing);
  margin-bottom: calc(var(--spacing) * -1);
  border-top: var(--border-width) solid var(--card-border-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
