body,
html {
  margin: 0;
  padding: 0;
}

ul,
li,
dl,
dt,
dd,
p,
span {
  margin: 0;
  padding: 0;
}

body > header,
body > main,
body > footer {
  padding-block: var(--mudium-block-spacing-vertical);
}

b,
strong {
  font-weight: bolder;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --mudium-font-weight: 700;
}

h1 {
  --mudium-font-size: 2rem;
  --mudium-line-height: 1.125;
  --mudium-typography-spacing-top: 3rem;
}

h2 {
  --mudium-font-size: 1.75rem;
  --mudium-line-height: 1.15;
  --mudium-typography-spacing-top: 2.625rem;
}

h3 {
  --mudium-font-size: 1.5rem;
  --mudium-line-height: 1.175;
  --mudium-typography-spacing-top: 2.25rem;
}

h4 {
  --mudium-font-size: 1.25rem;
  --mudium-line-height: 1.2;
  --mudium-typography-spacing-top: 1.874rem;
}

h5 {
  --mudium-font-size: 1.125rem;
  --mudium-line-height: 1.225;
  --mudium-typography-spacing-top: 1.6875rem;
}

h6 {
  --mudium-font-size: 1rem;
  --mudium-line-height: 1.25;
  --mudium-typography-spacing-top: 1.5rem;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav,
nav ul {
  display: flex;
}
nav {
  justify-content: space-between;
  overflow: auto;
}
nav ol,
nav ul {
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
nav ol:first-of-type,
nav ul:first-of-type {
  margin-left: calc(var(--mudium-nav-element-spacing-horizontal) * -1);
}
nav ol:last-of-type,
nav ul:last-of-type {
  margin-right: calc(var(--mudium-nav-element-spacing-horizontal) * -1);
}
nav li {
  display: inline-block;
  margin: 0;
  padding: var(--mudium-nav-element-spacing-vertical) var(--mudium-nav-element-spacing-horizontal);
}
nav li :where(a, [role="link"]) {
  display: inline-block;
  margin: calc(var(--mudium-nav-link-spacing-vertical) * -1) calc(var(--mudium-nav-link-spacing-horizontal) * -1);
  padding: var(--mudium-nav-link-spacing-vertical) var(--mudium-nav-link-spacing-horizontal);
  border-radius: var(--mudium-border-radius);
}
:root {
  --mudium-font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mudium-font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--mudium-font-family-emoji);
  --mudium-font-family: var(--mudium-font-family-sans-serif);
  --mudium-line-height: 1.5;
  --mudium-font-weight: 400;
  --mudium-font-size: 10px;

  --mudium-spacing: 1rem;
  --mudium-block-spacing-vertical: var(--mudium-spacing);
  --mudium-block-spacing-horizontal: var(--mudium-spacing);
  --mudium-modal-overlay-backdrop-filter: blur(0.375rem);

  --mudium-nav-element-spacing-vertical: 1rem;
  --mudium-nav-element-spacing-horizontal: 0.5rem;
  --mudium-nav-link-spacing-vertical: 0.5rem;
  --mudium-nav-link-spacing-horizontal: 0.5rem;
}

.root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  width: calc(100% - 42rem);
  margin-top: 9rem;
  margin-left: 42rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110rem;
  background-color: #ffffff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
  cursor: pointer;
}
.primary {
  color: #fff;
  background-color: #9236a4;
}
.secondary {
  color: #fff;
  background-color: #5d6b89;
}

.contrast {
  color: #fff;
  background-color: #181c25;
}
.btn:hover {
  box-shadow: 0rem 0.1rem 0.2rem #a6a6a6;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* 노트북 */
@media screen and (max-width: 1683px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 1439px) {
  :root {
    font-size: 7px;
  }
}

/* 태블릿 */
@media screen and (max-width: 1023px) {
  :root {
    font-size: 6px;
  }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  :root {
    font-size: 4.5px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 3.2px;
  }
}

@media screen and (max-width: 424px) {
  :root {
    font-size: 2.5px;
  }
}

@media screen and (max-width: 374px) {
  :root {
    font-size: 2px;
  }
}

@media screen and (max-width: 319px) {
  :root {
    font-size: 1.8px;
  }
}
