:root {
  --primary-color: #9236a4;
  --secondary-color: #969eaf;
  --success-color: #279977;
  --warning-color: #c84f48;
  --text-color: #333;
  --background-color: #ffffff;
  --button-hover-color: #a73ebc;
  --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  --spacing: 1rem;

  --modal-overlay-backdrop-filter: blur(0.375rem);
  --modal-overlay-background-color: rgba(8, 9, 10, 0.75);

  --border-radius: 1rem;
  --border-width: 0.0625rem;
  --outline-width: 0.125rem;
  --transition: 0.2s ease-in-out;

  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow: var(--box-shadow);
  --card-sectioning-background-color: #fbfcfc;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Light mode */
[data-theme="light"] {
  --background-color: #fff;
  --text-color: #1c1d1d;
}

/* Dark mode */
[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #c2c7d0;
}
